<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method=POST action='/team'>
     <label for="name">Name:</label>
     <input type="text" name="name" id="name">
     <label for="coach">Coach:</label>
     <input type="text" name="coach" id="coach">
     <input type="submit" id ="Sumbit">
   </form>
 </body>
</html>
